:root {
    --primary-colour: pink;
    --primary-background: url('images/gifbground-804-0005.gif');
    --text: palevioletred;
    --hover-colour:cornflowerblue;
    --outline-colour:palevioletred;
}

.darkmode{
    --primary-colour: black;
    --primary-background: url('images/ss133.gif');
    --text: white;
    --hover-colour:greenyellow;
    --outline-colour:white;
}

#theme-switch{
    height:50px;
    width:50px;
    padding:0;
    background-color: var(--primary-colour);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
    border: none;
    outline: 2px solid var(--outline-colour);
    color: ;
}

#theme-switch svg{
    fill: var(--text)
}

#theme-switch svg:hover{
    fill: var(--hover-colour)
}

/* change icon on button press */
#theme-switch svg:last-child{
    display: none;
}

.darkmode #theme-switch svg:first-child{
    display: none;
}

.darkmode #theme-switch svg:last-child{
    display: block;
}


/* change frame on button press */
iframe:last-child{
    display: none;
}

.darkmode iframe:first-child{
    display: none;
}

.darkmode iframe:last-child{
    display: block;
    
}

.time{
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    background-image: var(--primary-background);
    min-height: 100vh;
    display: flex;
    margin: 10px;
    padding: 0px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.grid-container{
    display: grid;
    width: 800px;
    grid-template-areas: 
        "header header theme"
        "left-container content right-container"
        "left-container content right-container"
        "left-container content right-container"
        ". footer .";
    grid-template-columns: 1fr 5fr 2fr;
    gap: 10px;
    font-family: "Space Mono", monospace;
    color: var(--text);
    align-items: start;
    font-size: 14px;
}

.image img{
    width:100%;
    height:auto;
    outline: none;
}

.content{
    height: 400px;
    overflow: auto;
}

.content h3{
    margin-top: 0px ;
    margin-bottom: 20px;
}


.left-container div{
    outline: 2px solid var(--outline-colour);
    background-color: var(--primary-colour);
    padding: 10px; 
}


.right-container div{
    outline: 2px solid var(--outline-colour);
    padding: 10px;
    background-color: var(--primary-colour);
}

.grid-container p,h2,h4{
    margin: 0;
    padding: 0;
}

.grid-container div.header{
    grid-area: header;
    text-align: center;
    outline: 2px solid var(--outline-colour);
    background-color: var(--primary-colour);
    padding: 10px
}
.grid-container div.left-container{
    grid-area: left-container;
}
.grid-container div.content {
  grid-area: content;
  outline: 2px solid var(--outline-colour);
  background-color: var(--primary-colour);
  padding: 10px;
}
.grid-container div.right-container {
  grid-area: right-container;
  text-align: center;
  display: grid;
  gap: 10px;
}
.grid-container div.footer {
  grid-area: footer;
  text-align: center; 
  background-color: transparent;
  padding: 10px
}



/* navigation bar */
.navbar ul {
    list-style-type: none;
    margin: 0px;
    padding: 10px;
}

.navbar ul li a{
    color: var(--text);
}

.navbar li a{
    color: var(--text);
    padding:5px 5px;
    display:block;
}

.navbar a:hover {
    color: var(--hover-colour)
}

li a:hover {
  transform:rotate(-15deg); 
}


::-webkit-scrollbar {
    display: none;
}




