:root {
    --primary-colour: black;
    --primary-background: url('Images/ss133.gif');
    --outline-colour: white;
    --nav-colour: black;
    --nav-text: white;
    --hover-colour:lightgreen;

}
.maincontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    margin: 0% 15% 0% 15%;
    gap: 10px;
}

body {
    background-image: var(--primary-background);
    margin: 0;
    padding: 0;
}

.navcontainter{
    background-color: var(--nav-colour);
    font-family: "Space Mono", monospace;
    height: 70px;
    font-size: 12px;
    outline: 1px solid var(--outline-colour);
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 80%;
    margin: auto;
}

.navbar ul{
    display: flex;
}

.navcontainter .navbar{
    justify-content: space-between;
}

.navbar ul li{
    list-style-type: none;
}

.navcontainter .navbar ul li {
    padding: 10px;
    margin: 0 10px;
}

.navbar a,h2{
    color: var(--nav-text);
}

.navbar a:hover {
    color: var(--hover-colour);
}


.footercontainer{
    font-family: "Space Mono", monospace;
    font-size: 12px;
    background-color: brown;
    height: 30px;
}
.sectioncontainer{
    outline: 1px solid var(--outline-colour);
    background-color: var(--primary-colour);
}

p{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 80%;
    margin: auto;
    color: white;
}
